<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">To-Do-2Day</a>
</nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter Task">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item">
            <!-- Checkbox for marking as complete -->
            <input type="checkbox" onclick="toggleComplete('<%= todos._id %>')" <%= todos.completed ? 'checked' : '' %> > 
            <%= todos.todo %> 
            <button onclick="deleteTodo('<%= todos._id %>')" class="btn btn-danger btn-sm">Delete</button>
            <button onclick="editTodo('<%= todos._id %>')" class="btn btn-warning btn-sm">Edit</button>
        </li>
        <% }) %>
    </ul>
</div>

<script>
    function deleteTodo(todoId) {
        fetch('/delete/todo/' + todoId, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.success) {
                location.reload();
            }
        });
    }

    function editTodo(todoId) {
        const newTodo = prompt('Enter the new text for the task:');
        if (newTodo) {
            fetch('/edit/todo/' + todoId, {
                method: 'PATCH',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ todo: newTodo }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Task updated successfully!');
                    location.reload();
                } else {
                    console.log('Failed to update task.');
                }
            });
        }
    }

    function toggleComplete(todoId) {
        fetch('/toggleComplete/todo/' + todoId, {
            method: 'PATCH',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            location.reload();
        });
    }
</script>

<%- include("./partials/footer") %>
